<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="help__body">
                <div class="section__title help__title">Wellcard — избавляет от гипертонии</div>
                <div class="help__list">
                    <div class="help__item">
                        <span></span>
                        <p>Восстанавливает нормальное</p>
                        <p>артериальное давление без резких</p>
                        <p>перепадов</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Улучшает мозговое кровообращение</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Укрепляет стенки сосудов, снижая</p>
                        <p>риск возникновения инфаркта и</p>
                        <p>инсульта</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Нормализует сердечный ритм</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Снижает уровень сахара, </p>
                        <p>холестерина и триглицеридов в крови</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Нейтрализует последствия частых </p>
                        <p>выбросов гормонов стресса</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Обеспечивает естественный уровень и</p>
                        <p>углекислого газа и кислорода в кров</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Регулирует гормональный фон</p>
                        <p>организма</p>
                    </div>
                </div>
                <div class="help__product">
                    <img src="../media/help/product.png" alt="">
                </div>
                <a href="" class="help__btn">Заказать Wellcard</a>
            </div>
        </div>
    </div>
</section>